<!doctype html>
<title>Hello from Flask </title>
 <!--<body style="background: {{ color }};"></body> -->
<!-- <body style="background-image: url('{{ image_s }}');"> -->
<body style="background-image: url(' {{ url_for('static', filename='image.png') }} ')"> 
<div style="color: #e4e4e4;
    text-align:  center;
    vertical-align:  middle;">
 <h2>Project Worked by:  {{ my_name }} </h2>
  {% if db_connect_result %}
  <!-- <img src="{{ url_for('static', filename='img/success.jpg') }}"> -->
  <img src="{{ url_for('static', filename='img/success.jpg') }}" width="400"  height="200" >
    <h3> Successfully connected to the MySQL database.</h3>
  {% else %}
  <img src="{{ url_for('static', filename='img/failed.png') }}" width="400"  height="200"> 
  <!-- <img src="{{ url_for('static', filename='image.png') }}"> -->
    <h3> Failed connecting to the MySQL database. </h3>
  {% endif %}

 
  {% if debug %}
    <h2> {{ debug }} </h2>
  {% endif %}

  {% if name %}
    <p> From {{ name }}!</p>
  {% endif %}

  {% if contents %}
  <h2><br>logs:</h2>
  <textarea rows="10" cols="50">
    {{contents }}
  </textarea>
  {% endif %}

</div>

</body>