<!doctype html>
<title>Hello from Flask </title>
<body style="background-image: url('static/clo835/config/{{image_s}}')"> 
<div style="text-align:  center;
    vertical-align:  middle;">
 <h2>Project Worked by:  {{ my_name }} </h2>
  {% if db_connect_result %}
  <img src="static/clo835/config/sucess.png" width="500"  height="300" >                 
    <h3> Successfully connected to the MySQL database.</h3>
  {% else %}
  <img src="static/clo835/config/failed.png" width="500"  height="300" >                 
    <h3> Failed connecting to the MySQL database. </h3>
  {% endif %}

  {% if debug %}
    <h2> {{ debug }} </h2>
  {% endif %}

  {% if name %}
    <p> From {{ name }}!</p>
  {% endif %}

  {% if contents %}
  <h2><br>logs:</h2>
  <textarea rows="10" cols="50">
    {{contents }}
  </textarea>
  {% endif %}

</div>

</body>